<div class="container pt-3 mb-2">
  <div class="page-header">
    <div></div>
    <h3>{{ currentProgram()?.name }}</h3>
    <div class="help-icon">
      <mat-icon
        fontSet="material-symbols-outlined"
        matTooltip="Help"
        (click)="showHelp()"
        >help</mat-icon
      >
    </div>
  </div>
  <div class="filters-1">
    <mat-form-field appearance="fill" subscriptSizing="dynamic">
      <mat-label>Search by name</mat-label>
      <input matInput [(ngModel)]="nameFilter" />
    </mat-form-field>
    <mat-form-field appearance="fill" subscriptSizing="dynamic">
      <mat-label>Select team</mat-label>
      <mat-select #teamSelect [(ngModel)]="selectedTeamId">
        <mat-option value="0">Unassigned</mat-option>
        @for (team of teams(); track team.id) {
        <mat-option [value]="team.id">{{ team.name }}</mat-option>
        }
      </mat-select>
      @if (selectedTeamId() !== '') {
      <button
        matSuffix
        tabindex="-1"
        mat-icon-button
        aria-label="Clear"
        [appClearSelect]="teamSelect"
      >
        <mat-icon fontSet="material-symbols-outlined">close</mat-icon>
      </button>
      }
    </mat-form-field>
  </div>
  <div class="filters-2">
    <mat-slide-toggle class="active-toggle" [(ngModel)]="showUnassigned"
      >Show unassigned players</mat-slide-toggle
    >
  </div>
  <div class="filters-3">
    <button mat-flat-button (click)="createPlayer()">Create New Player</button>
    <button
      mat-flat-button
      (click)="assignPlayers()"
      [disabled]="getCheckedPlayers().length === 0"
    >
      Assign Selected Players
    </button>
    <button mat-flat-button (click)="clearPlayers()">
      Clear Program Players
    </button>
  </div>
</div>
<div class="table-container">
  <div class="scrollable-tale mat-elevation-z8">
    <table
      mat-table
      matSort
      [dataSource]="filteredPlayers()"
      (matSortChange)="sortPlayers($event)"
      class="dense-table"
    >
      @let columnsToDisplay = ['firstName', 'lastName', 'gender', 'age',
      'program', 'tryoutNumber', 'evalScore', 'looks', 'team', 'jerseyNumber',
      'usaHockeyNumber', 'tShirtSize', 'goalie', 'parentCoach', 'addRemove',
      'select'];
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let player">{{ player.id }}</td>
      </ng-container>
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          First<br />Name
        </th>
        <td mat-cell *matCellDef="let player">{{ player.firstName }}</td>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Last<br />Name
        </th>
        <td mat-cell *matCellDef="let player">{{ player.lastName }}</td>
      </ng-container>
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>Gender</th>
        <td mat-cell *matCellDef="let player">{{ player.gender }}</td>
      </ng-container>
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>DoB (Age)</th>
        <td mat-cell *matCellDef="let player" class="no-wrap">
          {{ player.birthDate.toDate() | date : "M/d/yyyy" }} ({{ player.age }})
        </td>
      </ng-container>
      <ng-container matColumnDef="program">
        <th mat-header-cell *matHeaderCellDef>Program</th>
        <td mat-cell *matCellDef="let player">
          {{ getProgramName(player.programId) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="tryoutNumber">
        <th mat-header-cell *matHeaderCellDef>Tryout<br />Number</th>
        <td mat-cell *matCellDef="let player">{{ player.tryoutNumber }}</td>
      </ng-container>
      <ng-container matColumnDef="jerseyNumber">
        <th mat-header-cell *matHeaderCellDef>Jersey<br />Number</th>
        <td mat-cell *matCellDef="let player">{{ player.jerseyNumber }}</td>
      </ng-container>
      <ng-container matColumnDef="evalScore">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Evaluation<br />Score
        </th>
        <td mat-cell *matCellDef="let player">{{ player.evalScore }}</td>
      </ng-container>
      <ng-container matColumnDef="looks">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Looks</th>
        <td mat-cell *matCellDef="let player">{{ player.looks }}</td>
      </ng-container>
      <ng-container matColumnDef="goalie">
        <th mat-header-cell *matHeaderCellDef>Goalie</th>
        <td mat-cell *matCellDef="let player">{{ player.goalie }}</td>
      </ng-container>
      <ng-container matColumnDef="team">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Team</th>
        <td mat-cell *matCellDef="let player">
          {{ getTeamName(player.teamId) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="usaHockeyNumber">
        <th mat-header-cell *matHeaderCellDef>USA Hockey<br />Number</th>
        <td mat-cell *matCellDef="let player">{{ player.usaHockeyNumber }}</td>
      </ng-container>
      <ng-container matColumnDef="tShirtSize">
        <th mat-header-cell *matHeaderCellDef>T-shirt<br />Size</th>
        <td mat-cell *matCellDef="let player">{{ player.tShirtSize }}</td>
      </ng-container>
      <ng-container matColumnDef="parentCoach">
        <th mat-header-cell *matHeaderCellDef>Parent<br />Coach</th>
        <td mat-cell *matCellDef="let player">
          {{ player.parentCoach | yesNo }}
        </td>
      </ng-container>
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>Select</th>
        <td mat-cell *matCellDef="let player">
          <mat-checkbox
            #assignCheckbox
            [class.hidden]="player.programId !== ''"
            (click)="$event.stopPropagation()"
          ></mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="addRemove">
        <th mat-header-cell *matHeaderCellDef>Add/<br />Remove</th>
        <td mat-cell *matCellDef="let player">
          @if (player.programId === '') {
          <button
            mat-icon-button
            aria-label="Add player"
            (click)="addPlayer(player); $event.stopPropagation()"
          >
            <mat-icon fontSet="material-symbols-outlined">person_add</mat-icon>
          </button>
          } @else {
          <button
            mat-icon-button
            aria-label="Remove player"
            (click)="removePlayer(player); $event.stopPropagation()"
          >
            <mat-icon fontSet="material-symbols-outlined"
              >person_remove</mat-icon
            >
          </button>
          }
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let player; columns: columnsToDisplay"
        (click)="onRowClick(player)"
        class="clickable-row"
      ></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [colSpan]="columnsToDisplay.length">
          No players found matching the search criteria.
        </td>
      </tr>
    </table>
  </div>
</div>
