.footer-left {
  display: grid;
  justify-items: start;
  align-items: center;
}

.footer-right {
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
  align-items: center;
}

.no-emulation {
  background-color: #f60;
}
