<div class="container" [class.hidden]="googleOnlyUser()">
  <h4>Update Email Address</h4>
  <form [formGroup]="emailForm" class="container">
    <mat-form-field id="email" subscriptSizing="dynamic">
      <mat-label>Email Address</mat-label>
      <input matInput type="email" formControlName="email" />
      @if (e.email.errors?.['email']) {
      <mat-error> Invalid email address </mat-error>
      }
    </mat-form-field>
    <div class="buttons">
      <button
        mat-raised-button
        class="btn-primary"
        type="button"
        [disabled]="firebaseUser()?.emailVerified"
        (click)="verifyEmail()"
      >
        {{ firebaseUser()?.emailVerified ? "Email Verified" : "Verify Email" }}
      </button>
      <button
        mat-raised-button
        class="btn-secondary"
        type="submit"
        [disabled]="
          emailForm.invalid ||
          e.email?.value === firebaseUser()?.email ||
          e.email.value === ''
        "
        (click)="onSubmitEmail()"
      >
        Update Email
      </button>
    </div>
  </form>
  <h4>Update Display Name</h4>
  <form [formGroup]="displayNameForm" class="container">
    <mat-form-field id="displayName" subscriptSizing="dynamic">
      <mat-label>Display Name</mat-label>
      <input matInput formControlName="displayName" />
      @if (d.displayName.errors?.['required']) {
      <mat-error> Display name is required. </mat-error>
      }
    </mat-form-field>
    <div>
      <button
        mat-raised-button
        class="btn-primary"
        [disabled]="displayNameForm.invalid || displayNameForm.pristine"
        (click)="onSubmitDisplayName()"
      >
        Update Display Name
      </button>
    </div>
  </form>
  <h4>Change Your Password</h4>
  <form [formGroup]="passwordForm" class="container">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>New Password</mat-label>
      <input
        matInput
        [type]="hidePassword() ? 'password' : 'text'"
        autocomplete="new-password"
        formControlName="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="toggleHidePassword()"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
      >
        <mat-icon fontSet="material-symbols-outlined">{{
          hidePassword() ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        [type]="hideConfirm() ? 'password' : 'text'"
        autocomplete="new-password"
        formControlName="confirmPassword"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="toggleHideConfirm()"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideConfirm"
      >
        <mat-icon fontSet="material-symbols-outlined">{{
          hideConfirm() ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>
    @if (passwordForm.errors?.['mismatch']) {
    <mat-error> Passwords do not match. </mat-error>
    }
    <button
      mat-raised-button
      class="btn-primary"
      [disabled]="
        passwordForm.invalid ||
        passwordForm.controls.confirmPassword.value === ''
      "
      (click)="onSubmitPassword()"
    >
      Change Password
    </button>
  </form>
</div>
<div class="container" [class.hidden]="!googleOnlyUser()">
  <h4>Google User Account</h4>
  <p>Your email address and display name are managed by Google.</p>
</div>
<div class="container mt-3" [class.hidden]="appUser()?.approved">
  <p>
    Your account is pending approval. Please contact a director to request
    approval.
  </p>
</div>
