<h1 mat-dialog-title>Transfer Player</h1>
<form [formGroup]="teamForm">
  <mat-dialog-content class="content">
    <div class="section-1">
      <mat-form-field appearance="fill">
        <mat-label>Team Name</mat-label>
        <mat-select formControlName="teamId">
          <mat-option *ngFor="let team of teams" [value]="team.id">
            {{ team.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-raised-button
      class="btn-tertiary"
      type="submit"
      [disabled]="teamForm.invalid || teamForm.disabled"
      (click)="onSubmit()"
    >
      Transfer Player
    </button>
    <button
      mat-stroked-button
      type="button"
      [disabled]="teamForm.disabled"
      mat-dialog-close
    >
      Cancel
    </button>
  </mat-dialog-actions>
</form>
