<div class="container pt-3">
  <div class="page-header">
    <div></div>
    <mat-form-field id="program-select" subscriptSizing="dynamic">
      <mat-label>Select Active Program</mat-label>
      <mat-select
        [(ngModel)]="selectedProgramId"
        (selectionChange)="onSelectProgram($event)"
      >
        @for (program of userPrograms(); track program.id) {
        <mat-option [value]="program.id">{{ program.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <div class="help-icon">
      <mat-icon
        fontSet="material-symbols-outlined"
        matTooltip="Help"
        (click)="showHelp()"
        >help</mat-icon
      >
    </div>
  </div>
  @if (programDescription() !== '') {
  <div class="description">
    <span> {{ programDescription() }} </span>
  </div>
  }
  <div class="buttons">
    <button type="button" mat-flat-button (click)="addProgram()">
      Add Program
    </button>
    <button
      type="button"
      class="btn-secondary"
      mat-flat-button
      (click)="editPrograms()"
    >
      Manage Programs
    </button>
  </div>
</div>
