<mat-toolbar>
  <mat-toolbar-row>
    @if (isSmallScreen()) {
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon fontSet="material-symbols-outlined">menu</mat-icon>
    </button>
    }
    <span id="title">Youth Hockey Tracker</span>
    @if (!isSmallScreen()) { @if (isLoggedIn()) {
    <div class="links">
      <a mat-button routerLink="programs">
        <mat-icon fontSet="material-symbols-outlined">article</mat-icon>Programs
      </a>
      @if (!!activeProgram()) {
      <a mat-button routerLink="players"
        ><mat-icon fontSet="material-symbols-outlined">face</mat-icon>Players
      </a>
      <a mat-button routerLink="teams"
        ><mat-icon fontSet="material-symbols-outlined">groups</mat-icon>Teams
      </a>
      <a mat-button routerLink="evaluations">
        <mat-icon fontSet="material-symbols-outlined">category</mat-icon
        >Evaluations
      </a>
      <a mat-button routerLink="tools">
        <mat-icon fontSet="material-symbols-outlined">build</mat-icon>Tools
      </a>
      <a mat-button routerLink="summary">
        <mat-icon fontSet="material-symbols-outlined">dataset</mat-icon>Summary
      </a>
      }
    </div>
    }
    <div class="account links">
      @if (isLoggedIn()) {
      <a mat-button routerLink="profile">
        <mat-icon fontSet="material-symbols-outlined">account_circle</mat-icon
        >Profile
      </a>
      <a mat-button (click)="logout()">
        <mat-icon fontSet="material-symbols-outlined">logout</mat-icon>Log out
      </a>
      } @else {
      <a mat-button routerLink="login">
        <mat-icon fontSet="material-symbols-outlined">login</mat-icon>
        <span>Log in</span>
      </a>
      }
    </div>
    }
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <div class="menu">
    @if (isLoggedIn()) {
    <a mat-menu-item routerLink="programs"
      ><mat-icon fontSet="material-symbols-outlined">article</mat-icon
      >Programs</a
    >
    @if (!!activeProgram()) {
    <a mat-menu-item routerLink="players"
      ><mat-icon fontSet="material-symbols-outlined">face</mat-icon>Players</a
    >
    <a mat-menu-item routerLink="teams"
      ><mat-icon fontSet="material-symbols-outlined">groups</mat-icon>Teams</a
    >
    <a mat-menu-item routerLink="evaluations"
      ><mat-icon fontSet="material-symbols-outlined">category</mat-icon
      >Evaluations</a
    >
    <a mat-menu-item routerLink="tools">
      <mat-icon fontSet="material-symbols-outlined">build</mat-icon>Tools
    </a>
    <a mat-menu-item routerLink="summary"
      ><mat-icon fontSet="material-symbols-outlined">dataset</mat-icon
      >Summary</a
    >
    }
    <a mat-menu-item routerLink="profile"
      ><mat-icon fontSet="material-symbols-outlined">account_circle</mat-icon
      >Profile</a
    >
    <a mat-menu-item (click)="logout()"
      ><mat-icon fontSet="material-symbols-outlined">logout</mat-icon>Log out</a
    >
    } @else {
    <a mat-menu-item routerLink="login"
      ><mat-icon fontSet="material-symbols-outlined">login</mat-icon>Log in</a
    >
    }
  </div>
</mat-menu>
<loading />
<div id="outlet">
  <router-outlet />
</div>
<footer></footer>
