<h1 mat-dialog-title>Edit Programs</h1>
<mat-dialog-content>
  <div class="content pt-3">
    <mat-form-field id="program-select">
      <mat-label>Select Program</mat-label>
      <mat-select
        [(ngModel)]="selectedProgram"
        name="program"
        (selectionChange)="onSelectProgram()"
      >
        @for (program of userPrograms(); track program.id) {
        <mat-option [value]="program">{{ program.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <form [formGroup]="editProgramForm">
    <div class="content">
      <mat-form-field appearance="fill">
        <mat-label>Program name</mat-label>
        <input matInput formControlName="name" />
        @if (f.name.errors?.['required']) {
        <mat-error> *Required </mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Program description</mat-label>
        <input matInput formControlName="description" />
        <mat-hint>Optional</mat-hint>
      </mat-form-field>
      <mat-slide-toggle
        class="active-toggle"
        formControlName="active"
        class="mt-3"
        >Active</mat-slide-toggle
      >
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-flat-button
    type="submit"
    class="btn-tertiary"
    [disabled]="
      !editProgramForm.valid ||
      editProgramForm.pristine ||
      editProgramForm.disabled
    "
    (click)="onSubmit()"
  >
    Save
  </button>
  <div
    matTooltip="Cannot delete active program"
    [matTooltipDisabled]="!selectedProgram()?.active"
  >
    <button
      mat-flat-button
      type="button"
      (click)="deleteProgram()"
      class="btn-danger"
      [disabled]="
        !selectedProgram() ||
        selectedProgram()?.active ||
        editProgramForm.disabled
      "
    >
      Delete
    </button>
  </div>
  <button mat-stroked-button type="button" mat-dialog-close>Cancel</button>
</mat-dialog-actions>
