<div class="container pt-3 mb-2">
  <div class="page-header">
    <div></div>
    <h3>{{ currentProgram()?.name }}</h3>
    <div class="help-icon">
      <mat-icon
        fontSet="material-symbols-outlined"
        matTooltip="Help"
        (click)="showHelp()"
        >help</mat-icon
      >
    </div>
  </div>
  <div class="mb-3">
    <button mat-flat-button (click)="addTeam()">Add New Team</button>
  </div>
  <div class="team-cards">
    @for (team of teams(); track team.id) {
    <mat-card appearance="outlined">
      <mat-card-header class="team-card-header">
        <mat-card-title
          class="clickable"
          matTooltip="Edit team"
          (click)="editTeam(team)"
          >{{ team.name }}</mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <div class="player-details">
          <span>Name</span>
          <span>#</span>
          <span>Goalie</span>
          <span>Coach</span>
          <span>Eval</span>
          <span>Options</span>
          <hr class="card-hr" />
          @for (player of getTeamPlayers(team.id); track player.id) {
          <span
            class="clickable"
            (click)="editPlayer(player)"
            matTooltip="Edit player"
            >{{ player.fullName }}</span
          >
          <span>{{ player.jerseyNumber }}</span>
          <span>{{ player.goalie }}</span>
          <span>{{ player.parentCoach | yesNo }}</span>
          <span>{{ player.evaluationScore }}</span>
          <div>
            <mat-icon
              class="me-1 small-icon-button"
              fontSet="material-symbols-outlined"
              matTooltip="Remove player from team"
              (click)="removePlayer(player)"
              >person_remove</mat-icon
            >

            <mat-icon
              class="small-icon-button"
              fontSet="material-symbols-outlined"
              matTooltip="Move player to another team"
              (click)="movePlayer(team, player)"
              >swap_horiz</mat-icon
            >
          </div>
          }
        </div>
        <hr class="card-hr" />
      </mat-card-content>
      <mat-card-footer>
        <div class="team-summary">
          <span>Player count: {{ team.players.length }}</span>
          <span>Female player count: {{ team.femalePlayerCount }}</span>
          <span
            >Average evaluation score:
            {{ team.averageScore | number : "1.2-2" }}</span
          >
          <span>Team has goalie: {{ team.hasGoalie | yesNo }}</span>
          <span>Head coach: {{ team.headCoach?.fullName }}</span>
          <span>Assistant coach 1: {{ team.assistantCoach1?.fullName }}</span>
          <span>Assistant coach 2: {{ team.assistantCoach2?.fullName }}</span>
          <span>Manager: {{ team.manager?.fullName }}</span>
        </div>
      </mat-card-footer>
    </mat-card>
    }
  </div>
</div>
